html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
	padding-left: 0;
}

img {
	vertical-align: middle;
}

main, 
article, 
aside, 
figure, 
footer, 
header, 
nav, 
section, 
details, 
summary {
	display: block;
}

table {
	border-collapse: separate; /* 属性设置表格的边框是否被合并为一个单一的边框 */
	border-spacing: 0; /* 属性设置相邻单元格的边框间的距离 */
	table-layout: fixed; /* 单元格宽度与单元格内容无关 */
}

input[type=button],
input[type=submit],
input[type=file],
button {
	cursor: pointer;
}